Settings.configure("{{ api_key }}");

Customer customer = new Customer("{{ request.customer_uri }}");
customer.addCard("{{ request.payload.source_uri }}");

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", {{ request.payload.amount }});
payload.put("source_uri", "{{ request.payload.source_uri }}");

Hold hold = new Hold(payload);
hold.save();