Settings.configure("{{ api_key }}");

Account account = new Account("{{ request.account_uri }}");
account.hold({{ request.payload.amount }},
             "{{ request.payload.description }}",
             "{{ request.customer_uri }}",
             null);
account.save();
