Settings.configure("{{ api_key }}");

Customer customer = new Customer("{{ request.customer_uri }}");

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", 100);

customer.credit(payload);
