Balanced.configure("{{ api_key }}");

Card card = new Card("{{ request.card_href }}");
Order order = new Order("{{ request.payload.order }}");

HashMap<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", {{ request.payload.amount }});

try {
    Debit debit = order.debitFrom(card, payload);
}
catch (HTTPError e) {}