String apiKey = "{{ api_key }}";
String location = System.getProperty("balanced_location", Settings.location);
String key = System.getProperty("balanced_key", apiKey);
Settings.configure(location, key);

// this scenario is not present in scenarios.cache
// so the customer_uri will be rendered as an empty string
Customer customer = new Customer("{{ request.customer_uri }}");
Credit.Collection credits = customer.credits;
