String apiKey = "{{ api_key }}";
String location = System.getProperty("balanced_location", Settings.location);
String key = System.getProperty("balanced_key", apiKey);
Settings.configure(location, key);

Account account = new Account("{{ request.account_uri }}");
Refund.Collection refunds = account.refunds;
