String apiKey = "{{ api_key }}";
String location = System.getProperty("balanced_location", Settings.location);
String key = System.getProperty("balanced_key", apiKey);
Settings.configure(location, key);

Customer customer = new Customer("{{ request.customer_uri }}");
customer.hold({{ request.payload.amount }});