Balanced.configure("{{ api_key }}");

BankAccount bankAccount = new BankAccount("{{ request.uri }}");

HashMap<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", {{ request.payload.amount }});

Credit credit = bankAccount.credit(payload);