    Map<String, Object> payload = new HashMap<String, Object>();
    payload.put("dob", "{{ request.payload.dob }}");
    payload.put("name", "{{ request.payload.name }}");
    payload.put("phone_number", "{{ request.payload.phone_number }}");
    payload.put("postal_code", "{{ request.payload.postal_code }}");
    payload.put("street_address", "{{ request.payload.street_address }}");
    payload.put("type", "{{ request.payload.type }}");
    Account account = new Account(payload);