Balanced.configure("{{ api_key }}");

Refund refund = new Refund("{{ request.uri }}");

Map<String, String> meta = new HashMap<String, String>();
meta.put("refund.reason", "user not happy with product");
meta.put("user.notes", "very polite on the phone");
meta.put("user.refund.count", "3");
refund.meta = meta;
refund.description = "{{ request.payload.description }}";

try {
    refund.save();
}
catch (HTTPError e) {}

