String apiKey = "{{ api_key }}";
String location = System.getProperty("balanced_location", Settings.location);
String key = System.getProperty("balanced_key", apiKey);
Settings.configure(location, key);

BankAccount bankAccount = new BankAccount("{{ request.uri }}");
try {
    bankAccount.delete();
}
catch (NotCreated e) {
    // the bank account didn't exist in the first place
}