Balanced.configure("{{ api_key }}");

Customer customer = new Customer("{{ request.customer_uri }}");
customer.save();

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", {{ request.payload.amount }});

customer.debit(payload);