    Customer customer = Customer("{{ request.customer_uri }}");
    customer.debit( "{{ request.payload.amount }}",
                    null,
                    null,
                    null,
                    null,
                    null)