Settings.configure("{{ api_key }}");

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("name", "{{ request.payload.bank_account.name }}");
payload.put("routing_number", "{{ request.payload.bank_account.routing_number }}");
payload.put("account_number", "{{ request.payload.bank_account.account_number }}");
payload.put("type", "{{ request.payload.bank_account.type }}");

BankAccount ba = new BankAccount(payload);
ba.save();

ba.credit({{ request.payload.amount }});
