Balanced.configure("{{ api_key }}");

Map<String, Object> bankAccountPayload = new HashMap<String, Object>();
bankAccountPayload.put("name", "{{ request.payload.bank_account.name }}");
bankAccountPayload.put("routing_number", "{{ request.payload.bank_account.routing_number }}");
bankAccountPayload.put("account_number", "{{ request.payload.bank_account.account_number }}");
bankAccountPayload.put("type", "{{ request.payload.bank_account.type }}");

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", {{ request.payload.amount }});
payload.put("bank_account", bankAccountPayload);

Credit credit = new Credit(payload);
credit.save();
