Balanced.configure("{{ api_key }}");

BankAccount ba = new BankAccount("{{ request.uri }}");

Map<String, Object> payload = new HashMap<String, Object>();
payload.put("amount", 1000);

ba.credit(payload);
